<form ng-submit="$ctrl.addPerson()">
  <input-field>
    <input type="text" ng-model="$ctrl.person">
    <label>Input label</label>
    <button type="button" ng-click="$ctrl.addPerson($ctrl.person)">Add Person</button>
    <button type="button" ng-click="$ctrl.runAlgo()">Run Algo</button>
    <button type="button" ng-click="$ctrl.clearTables()">Again !</button>
  </input-field>
</form>

<div class="row">
  <div class="card col s6" ng-if="$ctrl.persons.length >0">
    <table class="bordered">
      <thead>
        <tr>
          <th>People You Need to Know About</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="person in $ctrl.persons">
          <td>{{person}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card col s6" ng-if="$ctrl.results.length>0">
    <table class="bordered">
      <thead>
        <tr>
          <th>These Are True Friends</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="result in $ctrl.results">
          <td>{{result}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>